[Unit]
Description=Librarian: An alternative frontend for LBRY/Odysee.
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/librarian
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
